/* define web font */
@font-face {
  font-family: 'Oswald';
  src: url(../font/Oswald/static/Oswald-SemiBold.ttf);
}

/* color variable */
* {
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Oswald;
  color: #FFFFFF;
}

header {
  width: 390px;
  height: 80px;
  z-index: 100;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__contents {
  position: relative;
  width: 100%;
  height: 100%;
}

header .header__background {
  background-color: rgba(164, 34, 34, 0.75);
  position: absolute;
  height: 100%;
  width: 100%;
}

header .header__btn__area {
  position: absolute;
  z-index: 40;
  height: 80px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__btn__area #humburger__button {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 10%;
  background-color: rgba(192, 67, 67, 0.5);
}

header .header__btn__area #humburger__button span {
  background-color: #F6DDC6;
  height: 4px;
  width: 30px;
  margin: 0 auto;
  display: block;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

header .header__btn__area #humburger__button span:not(:first-child) {
  margin-top: 5px;
}

header .header__btn__area .inactive__icon span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(135deg);
          transform: translateY(10px) rotate(135deg);
}

header .header__btn__area .inactive__icon span:nth-child(2) {
  -webkit-transform: translateY(0px) scaleX(0);
          transform: translateY(0px) scaleX(0);
}

header .header__btn__area .inactive__icon span:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-135deg);
          transform: translateY(-8px) rotate(-135deg);
}

header .header__title {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 150px;
  margin: auto;
}

header .header__title__text {
  text-align: center;
  font-weight: bold;
  font-size: 100%;
  -webkit-filter: drop-shadow(2px 2px 6px #000000);
          filter: drop-shadow(2px 2px 6px #000000);
  margin-top: 30px;
}

header .header__title__text p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.side__menu {
  width: 390px;
  height: 812px;
  position: fixed;
  z-index: 30;
}

.side__menu__contents {
  width: 206px;
  height: 812px;
  background-color: rgba(208, 93, 93, 0.48);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side__menu__contents__item__list {
  margin-top: -200px;
}

.side__menu__contents__item__list .side__menu__item {
  text-align: center;
  font-size: 30px;
  height: 30px;
  margin-bottom: 100px;
  width: 100%;
}

.side__menu__contents__item__list .side__menu__item:last-child {
  margin-bottom: 0;
}

.hide__menu {
  display: none;
}
/*# sourceMappingURL=header.css.map */